@model Project

@{
    ViewData["Title"] = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Jobs</h3>

<h6 style="background-color:whitesmoke; padding: 5px">
    Project: &nbsp; @Model.Name &nbsp; - &nbsp; @Model.Name &nbsp; | &nbsp; @Model.StartDate &nbsp; - &nbsp; @Model.FinishDate
</h6>

<div class="row">
    <div class="col-8">
        <form asp-action="Index">
            <div class="row">
                <div class="col-4">
                    <a asp-action="Create" class="btn btn-outline-success"> Add New Job </a>
                </div>
                <div class="col-4">
                    <input class="form-control" id="search" name="search" />
                </div>
                <div class="col-4">
                    <input class="btn btn-outline-dark" type="submit" value=" Search " />
                </div>
            </div>
        </form>
    </div>
    <div class="col-4">
        <form asp-action="UploadFile" asp-controller="Jobs" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="row">
                <div class="col-8">
                    <input type="file" name="file" class="form-control" required />
                </div>
                <div class="col-4">
                    <input class="btn btn-success" type="submit" value="Upload Excel" />
                </div>
            </div>
        </form>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info mt-3">@ViewBag.Message</div>
        }
    </div>
</div>

<table class="table table-striped table-bordered table-hover">
    <thead class="bg-info text-light">
        <tr>
            <th></th>
            <th>
                Job No.
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Start Date
            </th>
            <th>
                Finish Date
            </th>
            <th>
                Request Date
            </th>
            <th>
                Completion
            </th>
            <th>
                RequiredProdHours
            </th>
            <th>
                ActualProdHours
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Jobs != null)
        {
            foreach (var item in Model.Jobs)
            {
                <tr>
                    <td>
                        <a asp-action="Index" asp-controller="Tasks" asp-route-id="@item.Id" style="width: 65px"> Tasks </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompletionPercentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredProdHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualProdHours)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" style="width: 65px">Detail</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
