@model IEnumerable<Web.Models.Task>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tasks</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p>
 *@
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="bg-warning text-light">
            <tr>
                <th scope="col" style="width:5%">
                    Seq
                </th>
                <th scope="col" style="width:20%">
                    Start
                </th>
                <th scope="col" style="width:20%">
                    Finish
                </th>
                <th scope="col" style="width:15%">
                    Operation
                </th>
                <th scope="col" style="width:15%">
                    Title
                </th>
                <th scope="col" style="width:20%">
                    Comment
                </th>
                <th scope="col" style="width:5%">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskSeq)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Operation.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="width: 15%">
                        @Html.DisplayFor(modelItem => item.OperationComment)
                    </td>
                    <td>
                        @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
