@model Web.Models.Machine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationCostHourly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationCostHourly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAvailableHoursPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAvailableHoursPerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineManufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineManufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orientation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orientation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Controller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Controller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControllerModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControllerModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xtravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xtravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XtravelInches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XtravelInches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ytravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ytravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YtravelInches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YtravelInches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZtravelDaylight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZtravelDaylight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZtravelDaylightInches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZtravelDaylightInches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wtravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wtravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rpm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rpm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RapidMMmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RapidMMmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxFeedMMmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxFeedMMmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolChangerCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolChangerCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolHolder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolHolder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalibratedAccuracyMM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalibratedAccuracyMM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlateLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlateLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlateLengthInches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlateLengthInches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlateWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlateWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlateWidthInches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlateWidthInches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxOpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxOpen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxOpenInches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxOpenInches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
